---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$on-phone:           500px;
$on-tablet:          900px;
$on-laptop:        1500px;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$titles-font-family: "Zebrazil";
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
// _base.scss

/* Color Palette */
$primary-background-color: #f4f4f4; // Light gray background color for sections like hero
$background-color: #ffffff;        // White background color for posts and cards
$brand-color: #8A3B0D;             // Your brand color (blue in this case)
$grey-color: #7f8c8d;              // Gray color for text, borders, etc.
$grey-color-light: #ecf0f1;        // Light gray for borders and backgrounds
$white-color: #ffffff;             // White color
$black-color: #2c3e50;             // Dark color for text
$highlight-color:  lighten($brand-color, 5%);


$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

@font-face {
    font-family: 'Zebrazil';
    src: url('/fonts/zebrazil.ttf');
}



// Use media queries like this:
// @include media-query($on-tablet) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "sidebar"
;