---
layout: default
---

<div class="home">
  <!-- Hero Section -->
  <section class="hero transparent-rounded-bg">
    <p class="hero-description">
      <br/>Dive into the world of DevOps, Kubernetes, CI/CD, and more.
    </p>
  </section>

  <!-- Latest Posts Section -->
  <section class="latest-posts">
    <ul class="post-list">
      {% for post in site.posts %}
      <li class="post-item transparent-rounded-bg">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">Read More &rarr;</a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <!-- RSS Subscription -->
  <section class="rss-subscribe">
    <p>Stay up to date: <a href="{{ '/feed.xml' | prepend: site.baseurl }}">Subscribe via RSS</a></p>
  </section>

  <!-- Tags Section -->
  <section class="tags">
    <h2 class="section-heading">Popular Tags</h2>
    <div class="tag-cloud">
      {% for tag in site.tags %}
      <a href="/tags/{{ tag[0] | slugify }}" class="tag">{{ tag[0] }}</a>
      {% endfor %}
    </div>
  </section>
</div>