---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date
				| date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope
				itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	</header>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>

<div class="share-section">
	<ul class="share-buttons">
		<li>
			<h5>Share it:</h5>
		</li>
		<li>
			<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | prepend: site.url | cgi_escape }}"
				title="Share on LinkedIn" target="_blank">
				<i class="fab fa-linkedin fa-2x"></i>
				<span class="sr-only">LinkedIn</span>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | cgi_escape }}&text={{ page.title }}&via=federiconafria"
				title="Tweet" target="_blank">
				<i class="fab fa-twitter fa-2x"></i>
				<span class="sr-only">Twitter</span>
			</a>
		</li>
		<li>
			<a href="https://www.reddit.com/submit?url={{ page.url | prepend: site.url | cgi_escape }}&title={{ page.title }}"
				title="Submit to Reddit" target="_blank">
				<i class="fab fa-reddit fa-2x"></i>
				<span class="sr-only">Reddit</span>
			</a>
		</li>
	</ul>
</div>